.App {
  text-align: center;
  background: #c51010; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c51010,
    #3f6673
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c51010,
    #3f6673
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */
h1 {
  font-size: 32px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  font-weight: bold;
}
p {
  font-size: 16px;
  font-weight: lighter;
}
h4 {
  font-size: 16px;
  font-weight: bold;
}

.App-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url(/images/recPattern.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: bottom right;
  transform: translateX(52px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.main {
  width: 100vw;
  height: calc(100vh - 88px);
  margin: 0;
  transform: translateX(-52px);
  opacity: 2;
  display: flex;
  flex-direction: row;
  padding-left: 200px;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 64px;
  text-align: left;
}
.Nav-bar {
  transform: translateX(-52px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 32px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 88px;
}
.Footer {
  transform: translateX(-52px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 32px;
  background: #e7e7e7;
  width: 100%;
  height: 140px;
  color: #c51010;
}
.downloads {
  padding-top: 64px;
}
button {
  border: none;
  padding: 12px;
  font-size: 12px;
  color: #c51010;
  border-radius: 4px;
  margin-right: 16px;
  font-weight: bold;
}
img.main-logo {
  width: 40px;
  height: 40px;
  transform: translateY(26px);
  margin-right: 8px;
}
img.leath-logo {
  width: 43px;
  height: 30px;
  transform: translateY(9px);
  margin-right: 8px;
}
img.preview {
  width: 550px;
}
.info {
  width: 40vw;
}
.preview {
  width: 55vw;
  padding-left: 64px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*ipad landscape and smaller*/
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  p {
    font-size: 12px;
    font-weight: lighter;
  }
  h4 {
    font-size: 12px;
    font-weight: bold;
  }
  button {
    border: none;
    padding: 12px;
    font-size: 12px;
    color: #c51010;
    border-radius: 4px;
    margin-right: 16px;
    font-weight: bold;
  }
  .App {
    height: unset;
    width: 100vw;
    overflow: hidden;
  }
  .App-header {
    height: unset;
    width: 100vw;
  }
  .Nav-bar {
    height: 8vh;
    margin: 0;
  }
  .main {
    height: 55vh;
    margin: 0;
    padding: 32px;
    padding-left: 94px;
    width: 100vw;
  }
  .Footer {
    height: 10vh;
    margin: 0;
  }
  img.main-logo {
    width: 30px;
    height: 30px;
    transform: translateY(16px);
  }
  img.leath-logo {
    width: 33px;
    height: 20px;
    transform: translateY(9px);
    margin-right: 8px;
  }
  img.preview {
    width: 300px;
    padding-left: 0;
  }
}
/*ipad portrait and smaller*/
@media only screen and (max-device-width: 800px) {
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  p {
    font-size: 12px;
    font-weight: lighter;
  }
  h4 {
    font-size: 12px;
    font-weight: bold;
  }
  button {
    border: none;
    padding: 12px;
    font-size: 12px;
    color: #c51010;
    border-radius: 4px;
    margin-right: 16px;
    font-weight: bold;
  }
  .App {
    height: unset;
    width: 100vw;
    overflow: hidden;
  }
  .App-header {
    height: unset;
    width: 100vw;
    justify-content: space-between;
  }
  .Nav-bar {
    height: 8vh;
    margin: 0;
  }
  .main {
    width: 100%;
    height: unset;
    margin: 0;
    transform: translateX(-52px);
    opacity: 2;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    text-align: center;
  }
  .Footer {
    height: 10vh;
    margin: 0;
  }
  .preview {
    width: 100vw;
  }
  img.main-logo {
    width: 30px;
    height: 30px;
    transform: translateY(16px);
  }
  img.leath-logo {
    width: 33px;
    height: 20px;
    transform: translateY(9px);
    margin-right: 8px;
  }
  img.preview {
    width: 300px;
    padding-left: 0;
  }

  .info {
    width: 100vw;
  }
}
/*PHONES*/
@media only screen and (max-device-width: 600px) {
  .Nav-bar {
    height: 28px;
    transform: translateX(0);
  }
  img.main-logo {
    width: 16px;
    height: 16px;
    margin-right: 2px;
    transform: translateY(6px);
  }
  img.preview {
    width: 200px;
    padding-left: 0;
  }
  h1 {
    font-size: 16px;
    padding: 4px;
    margin: 0;
  }
  p {
    padding-bottom: 16px;
    width: 50%;
    margin: 0;
  }
  .App-header {
    height: unset;
    width: unset;
    justify-content: space-between;
    transform: translateX(0);
    background-position: center;
    background-size: cover;
  }
  .downloads {
    display: none;
  }
}
